<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>You made a good decision to create a new blog</h1>
    <h2>Enter the following details </h2>
    <form action="/create" method="post">
        <label for="title">Enter the title </label>
        <input type="text" id="title" maxlength="20" name="title">
        <label for="data">Enter the blog</label>
        <input type="text" id="data" name="details">
        <button type="submit">CREATE</button>
    </form>

</body>
</html>